@import url(./_active/header__lang-button_active.css);

.header__lang-button {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 1.15;
  padding: 0;
  background-color: transparent;
  border: none;
}



@media (max-width: 425px) {
  .header__lang-button {
    font-size: 18px;
    line-height: 1.3;
  }
}