.header__lang-button {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 1.15;
}

/* .header__lang-button:not(:nth-of-type(1)) {
  margin-left: 18px;
} */

@media (max-width: 320px) {
  .header__lang-button {
    font-size: 18px;
    line-height: 1.3;
  }
}