@import url(./_active/header__lang-button_active.css);

.header__lang-button {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.15;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.header__lang-button:hover {
  opacity: 0.8;  
}

@media (max-width: 425px) {
  .header__lang-button {
    font-size: 18px;
    line-height: 1.3;
  }
}