@import url(./__content/page__content.css);
@import url(./__travel-way/page__travel-way.css);
@import url(./__intro/page__intro.css);
@import url(./__photo-grid/page__photo-grid.css);


@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../../vendor/font/inter/Inter-Regular.woff2) format("woff2");
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../../vendor/font/inter/Inter-Black.woff2) format("woff2");
    font-style: normal; 
    font-weight: bold; 
}

.page {
  background-color: #2A2C2F;
  color: #ffffff;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

