@import url(./__content/page__content.css);
@import url(./__main-content/page__main-content.css);
@import url(./__travel-way/page__travel-way.css);
@import url(./__intro/page__intro.css);
@import url(./__photo-grid/page__photo-grid.css);
@import url(./__places/page__places.css);
@import url(./__cover/page__cover.css);
@import url(./__footer/page__footer.css);

.page {
  background-color: #2A2C2F;
  color: #ffffff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', 'Arial', sans-serif;
}

