@import url(./__lang-button/header__lang-button.css);

.header {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  grid-gap: 18px;
  justify-content: space-between;
  width: calc(100% - 96px);
  max-width: 1184px;
}

@media (max-width: 768px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media (max-width: 320px) {
  .header {
    width: calc(100% - 32px);
  }
}