@import url(./__list-facts/intro__list-facts.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro {
  align-self: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 984px;
  min-width: 320px;
  
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 0 24px;
  }
}

