.travel-way__cover {
  width: 100%;
  max-width: 984px;
  object-fit: cover;
  margin: 64px 0 0 0;
  max-height: 100%;
  display: block;
}

@media screen and (max-width: 1024px) {
  .travel-way__cover {
    max-width: 928px;
    margin: 56px 0 0 0; 
  }
}

@media screen and (max-width: 414px) {
  .travel-way__cover {
    margin: 40px 0 0 0;
  }
}
