@import url(./__img/cover__img.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__text/cover__text.css);
@import url(./__title/cover__title.css);

.cover {
  position: relative;
  text-decoration: none;
  color: #FFFFFF;
  background: #2A2C2F;
 
}

.cover:hover .cover__img {
  opacity: 0.2;
  transition: opacity 0.3s;
}