@import url(./__cover/travel-way__cover.css);
@import url(./__img-annotation/travel-way__img-annotation.css);
@import url(./__subtitle/travel-way__subtitle.css);
@import url(./__title/travel-way__title.css);

.travel-way {
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: calc(100% - 296px);
  
}

@media (max-width: 1024px) {
    .travel-way {
      width: calc(100% - 96px);
    }
  }

@media (max-width: 768px) {
    .travel-way {
      width: 100%;
    }
  }
  
  @media (max-width: 320px) {
    .htravel-way {
      width: 100%;
    }
  }